In [31]:
b = rq.get('https://www.boredapi.com/api/activity/')
print(b.url)

boredInfo = b.json()
boredInfo

https://www.boredapi.com/api/activity/

{'activity': 'Start a band',
 'type': 'music',
 'participants': 4,
 'price': 0.3,
 'link': '',
 'key': '5675880',
 'accessibility': 0.8}

In [33]:
import json
import pandas as pd

In [79]:
act_Type = ["education", "recreational", "social", "diy", "charity", "cooking", "relaxation", "music", "busywork"]

activity_list = []

for activity in act_Type:
    boredActInfo = rq.get('http://www.boredapi.com/api/activity?type=' + activity).json()
    
    if 'error' not in boredActInfo:
        activity_list.append([boredActInfo['activity'], boredActInfo['type'], boredActInfo['participants'], boredActInfo['price'], boredActInfo['link'], boredActInfo['key'], boredActInfo['accessibility']])


dataset = pd.DataFrame(activity_list)
dataset.sample(9)

,0,1,2,3,4,5,6
0,Learn GraphQL,education,1,0.00,https://graphql.org/,2167064,0.80
7,Start a band,music,4,0.30,,5675880,0.80
1,Solve a Rubik's cube,recreational,1,0.00,,4151544,0.10
2,Have a photo session with some friends,social,4,0.05,,3305912,0.80
6,Plan a vacation you've always wanted to take,relaxation,1,0.00,,7265395,0.05
8,Organize your basement,busywork,1,0.00,,8203595,0.90
3,Find a DIY to do,diy,1,0.40,,4981819,0.30
5,Prepare a dish from a foreign culture,cooking,1,0.20,,8061754,0.30
4,Volunteer at your local food bank,charity,1,0.00,,2055368,0.10